.tori {
  background: rgb(241, 241, 241);
  border: 1px solid rgba(95, 95, 95, 0.2);
  width: 73.5%;
  margin: 0 auto;
  padding: 20px 0px;
  height: 8em;
  

}

.hakusana, .osasto, .sijainti {
  margin: 10px 0px;
  float: left;
  padding: 10px;

  
}

.hakusana {
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  background-color: white;
  font-size: 1.3em;
  color: gray;
  width: 20em;
  border-radius: 5px;
  text-align: left;
  margin-right: 3px;
  margin-left: 10px;
}

.osasto {
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  width: 17em;
  font-size: 1.3em;
  margin-right: 3px;

}

.sijainti {
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  font-size: 1.3em;
  width: 10em;
}

.hakuvalikko {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  float: right;
  padding: 10px;
  margin-right: 20px;
  align-items: center;
}

.haku {
  color: rgb(26, 92, 179);
  font-weight: bold;
  font-size: 1.2em;
}

.hae {
  background-color: rgb(26, 92, 179);
  color: white;
  border: none;
  padding: 15px 35px;
  border-radius: 5px;
  font-size: 1.2em;
  margin-left: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.hae:hover {
  background-color: rgb(93, 255, 61);
  color: white;
}

.napit {
  float: left;
  margin: 5px 20px;
  font-size: 1.2em;
  margin-left: -20px;
}

input[type="checkbox"] {
  margin-right: 3px;
  transition-duration: 0.4s;
  margin-left: 50px;
}